<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Merve Sarac, MA, MS
        </h1>
        <p>Ph.D. Student</p>
	<p>Quantitative Methods</p>
  <p>Educational Psychology</p>
	<p>University of Wisconsin</p>
      </header>
      <p>I am a doctoral student in the Quantitative Methods area within the Department of Educational Psychology. My research interests are in the theory and application of psychometric methods (e.g., IRT and latent variable models) in education and psychology. My PhD advisor is Dr. James Wollack and my research focuses on (1) statistical modeling of anomalous testing taking behavior in educational and psychological measurement and (2) psychometric methodologies for the item- and person-level anomaly detection in the form of test collusion and item preknowledge as well as their potential to provide insight into valid and fair testing.
      </p>
      <!-- <ul class="actions"> -->
      <!--   <li><a href="#target_about" class="button big">Learn More</a></li> -->
      <!-- </ul> -->
      <ul class="actions">
        <li><a href="{{ 'schedule.html' | absolute_url }}" class="button big">Current Schedule</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/homepage.jpg" alt="" />
    </span>
  </section>
