<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Merve Sarac, PhD
        </h1>
  <p style="margin-bottom:10px;">Ph.D. Candidate</p>
	<p style="margin-bottom:10px;">Quantitative Methods</p>
  <p style="margin-bottom:10px;">Educational Psychology</p>
	<p style="margin-bottom:10px;">University of Wisconsin-Madison</p>
      </header>
      <p>I am a psychometrician at the College Board. I received my PhD from the Quantitative Methods within the Department
        of Educational Psychology in 2023, specializing in measurement. I work on the
        theory and application of psychometric methods (e.g., latent variable models, mainly item response theory (IRT))
        in education and psychology. I am trained to develop measuring instruments, design and
        conduct experiments and surveys, and analyze data resulting from these activities.
        I conduct research on statistics and psychometrics in education- and psychology-related fields.
        I worked with Dr. James Wollack and my research focuses on (1) statistical modeling of
        aberrant test-taking behavior in educational and
        psychological measurement and (2) psychometric methodologies for the item- and
        person-level anomaly detection in the form of test collusion and item preknowledge
        as well as their potential to provide insight into valid and fair testing.
      </p>
      <!-- <ul class="actions"> -->
      <!--   <li><a href="#target_about" class="button big">Learn More</a></li> -->
      <!-- </ul> -->
      <!--<ul class="actions">
        <li><a href="{{ 'schedule.html' | absolute_url }}" class="button big">Current Schedule</a></li>
      </ul>-->
    </div>
    <span class="image object">
      <img src="assets/images/homepage.png" alt="" />
    </span>
  </section>
